<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dn Oetel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
    <div class="col-lg-2">
        <img class="img-fluid" src="img/oetel.jpg" alt="logo_oetel">
    </div>

    <div class="col-lg-6 row flex-row">
        <button id="clothing-btn">Kleding</button>
        <button id="tierlantin-btn">Tierlantijn</button>
        <button id="decoration-btn">Decoratie</button>
    </div>

    <div id="clothingContent">

    </div>

    <div id="tierlatinContent">

    </div>

    <div id="decorationContent">

    </div>
</div>
</body>

</html>