<!DOCTYPE html>
<html>
<>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dn Oetel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--SCRIPS-->
    <script type="module" src="../Controller/WeatherController.js" defer></script>
    <script type="module" src="../Controller/InventoryController.js" defer></script>
    <script src="viewcontroller.js" defer></script>
    <script type="module" src="../Controller/Index.js" defer></script>
    

    <!--CSS-->
    <link rel="stylesheet" href="style.css">
</head>

<body class="page-content">
<div class="d-flex justify-content-center">
    <!--left row-->
    <div class="col-3 background-lightblue">
        <div class="d-flex flex-column ">

            <div class="row">
                <img class="img-fluid logo" width="100px" src="img/oetel.jpg" alt="logo_oetel">
                <p class="display-4 my-auto">Dn Oetel</p>
            </div>

            <button id="clothing-btn" class="btn button btn-outline-primary select">Clothing</button>
            <button id="tierlantin-btn" class="btn button btn-outline-primary select">Tierlantin</button>
            <button id="decoration-btn" class="btn button btn-outline-primary select">Decoration</button>

            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content" id="clothing-dropdown">
                </div>
            </div>

            <hr>

            <div class="weatherCast">
                <h4 id="location"></h4>
                <p id="temp"></p>
                <p id="feels_like"></p>
                <p id="description"></p>
                <p id="humidity"></p>
            </div>

            <p>
                Kies hier een stad!
            </p>
            <button id="btn-weather-switch" type="button">Wissel tussen HQ</button>

            <hr>

        </div>
    </div>

    <!--right row-->
    <div class="col-7 background-lightcoral" id="target">
        <div id="clothing-region" class="region"></div>
        <div id="tierlantin-region" class="region"></div>
        <div id="decoration-region" class="region"></div>
        <div class="startdivs"></div>
    </div>
</div>

</body>

</html>