* {
    margin: 0;
    padding: 0;
    border: 0;
}

.button{
    width: 200px;
    margin: 2%;
}

.logo{
    padding: 2%;
}

.page-content{
    padding: 1% 0%;
}

.background-lightblue{
    background-color:lightblue;
}

.background-lightcoral{
    background-color: lightcoral;
}

